.login-wrapper {
	/*max-width: 330px;*/
    max-width: 480px;
    /*padding: 15px;*/
    margin: 40px auto;
    /*margin-top: 40px;
    padding: 20px 15px 20px;*/
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 4px;
    /*border: 1px solid transparent;*/
}

.form-login {
	padding: 15px 15px 30px;
}

.login-header {
	background-color: #555;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.form-login-header {
	margin-bottom: 20px;
}

.login-header p {
	font-size: 25px;
	margin: auto;
}

.contents-list {
	font-size: 25px;
}

.contents {
	margin-bottom: 20px
}

.contents-title {
    font-size: 18px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    margin-bottom: 10px;
}

.contents-title p {
	margin: 0;
}


/* データ一覧ページ */
.list-title {
    margin-bottom: 15px;
}

.list-contents table{
    margin-bottom: 10px;
}

.list-contents thead{
    color: #fff;
    background-color: #555;
}

.list-paginate {
    /*padding-right: 10px;*/
    text-align: center;
}

.list-paginate > .pagination{
    margin: 10px 0;
}